html
  body
    h1 Home Page
    div
      button(onClick="initAuth()") Login

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js")
script.
  let web3, publicAddress;
  connectWallet();

  function connectWallet(){
    if(!window.ethereum) console.error("window.ethereum not found"); 
    else{
      web3 = new Web3(window.ethereum);
      window.ethereum.enable()
        .then(() => {
          return web3.eth.getCoinbase(); /* Gets The Public Address */
        })
        .then(address => {
          publicAddress = address;
        })
        .catch(err => console.error("client has not enabled wallet", err));
    }
  }

  function initAuth(){
    axios.get(`/api/user/${publicAddress}/nonce`)
      .then(({ data }) => {
        if(!data.nonce) console.warn(`No User Found Associated With Public Address:${publicAddress}`);
        else return data.nonce;
      })
      .then(nonce => {
        return signNonce(publicAddress, nonce);
      })
      .then(signature => {
        return authSignature(publicAddress, signature);
      })
      .catch(err => console.error("failed to get nonce"));
  }

  function signNonce(publicAddress, nonce){
    return new Promise((resolve, reject) => {
      const encodedNonce = web3.utils.fromUtf8("" + nonce);
      web3.eth.personal.sign(encodedNonce, publicAddress, (err, signature) => {
        if(err) reject(err);
        else resolve(signature);
      })
    });
  }

  function authSignature(publicAddress, signature){
    const body = { publicAddress, signature };
    axios.post('/api/authenticate', body)
      .then(({data}) => {
        console.log(data);
      })
      .catch(err => console.error("Failed To Authenticate"));
  }